:root {
  --continer-margin: calc(33 / 1080 * 100vh) calc(75 / 1920 * 100vw);
  --cards-gap: calc(45/1080*100vh) calc(60/1920*100vw);
}

.container {
  margin: var(--continer-margin);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--cards-gap);
}