.search__icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: calc(37 / 85 * 100%);
}

.search__form {
  width: 100%;
  padding: 0px;
  border: none;
}

.search__form__field {
  padding: 0px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  color: rgba(232, 232, 232, 0.6);
  background-color: var(--main-lighter);
  font-size: var(--header-font-size);
}

::placeholder {
  color: rgba(232, 232, 232, 0.6);
}

.search__form__field:focus {
  outline: none;

  width: 100%;
  /* visibility: ; */
  /* border-width: 0px; */
}

.search__form__submit {
  /* display: none; */
  /* position: ; */
  border: none;
  width: fit-content;
  height: fit-content;
  background: none;
  position: absolute;
  right: 90%;
  top: 45%;
  padding: 0px;
}

.search {
  grid-area: search;
  filter: var(--main-shadow);
  padding: 0px calc(20 / 1280 * 100%);
  flex-direction: row;
  align-self: center;
  height: 100%;
  border-radius: 5px;
  background-color: var(--main-lighter);

  display: flex;
  align-items: center;
  gap: 0px 10px;
}

@media (max-width: 1200px) {
  .search__form__field {
    font-size: calc(var(--header-font-size) * 1.5);
  }
}
