@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap');

:root {
  font-family: 'Catamaran', sans-serif;
  --main: #6667AB;
  --main-lighter: #7879B5;
}

body {
  margin: 0px;
}


#header {
  background: var(--main);
  height: 27vh;
  padding: 3.7vh 1.3vw 3.7vh 1.3vw;
  /* margin: 75px 30px 75px 30px; */
  display: grid;
  grid-template: calc(85/320*100%) calc(75/320*100%) calc(85/320*100%) 1fr / calc(240/1770*100%) calc(880/1770*100%) calc(405/1770*100%) 1fr;
  /* grid-template-rows: fr; */
  grid-template-areas:
    "logo . buttons buttons"
    ". . . ."
    ". search search ."
    ". . . .";
  /* justify-items: center; */
  /* align-items: start; */
}

#flex-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  flex-basis: content;
  gap: calc(40/650*100%);
}

#search {
  grid-area: search;
  align-self: center;
  /* width: 67vw; */
  /* height: 7.8vh; */
  height: 100%;
  border-radius: 5px;
  background-color: var(--main-lighter);
}

#cart {
  flex: 1;
  background-color: var(--main-lighter);
}

#support {
  flex: 1.25;
  background-color: var(--main-lighter);
}

#account {
  flex: 1.25;
  background-color: var(--main-lighter);
}

#logo {
  grid-area: logo;
}

.button {
  border-radius: 5px;
}