@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&family=Lato&family=Nunito+Sans&family=Raleway:wght@200&family=Source+Sans+Pro&display=swap');
@import 'search.css';
@import 'card.css';
@import 'main.css';

:root {
  font-family: 'Catamaran', sans-serif;
  --main: #6667AB;
  --main-lighter: #7879B5;
  --main-hover: #9678B5;
  --text-color: #E8E8E8;
  --header-size: 27vh;
  --main-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --header-font-size: calc(40 / 320 * var(--header-size));
}

body {
  margin: 0px;
}


#header {
  background: var(--main);
  height: var(--header-size);
  padding: 3.7vh 1.3vw;
  /* margin: 75px 30px 75px 30px; */
  display: grid;
  grid-template: calc(85/320*100%) calc(75/320*100%) calc(85/320*100%) 1fr / calc(240/1770*100%) calc(880/1770*100%) calc(405/1770*100%) 1fr;
  /* grid-template-rows: fr; */
  grid-template-areas:
    "logo . buttons buttons"
    ". . . ."
    ". search search ."
    ". . . .";
  /* justify-items: center; */
  /* align-items: start; */
}

#flex-buttons {
  grid-area: buttons;
  display: flex;
  /* max-width: 100%; */
  max-height: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-basis: content;
  gap: calc(40/650*100%);
}

@media (orientation: portrait) {
  :root {
    --header-size: 27vw;
  }
}

#cart {
  flex: 1;

}

#cart-icon {
  height: calc(55/85*100%);
  flex: 1;
  filter: var(--main-shadow);
}

#support {
  flex: 1.25;
}

#account {
  flex: 1.25;
}

#account-button {
  font-weight: bold;
}

.button-text {
  flex: 1;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  font-size: var(--header-font-size);
  filter: var(--main-shadow);
}

#logo {
  grid-area: logo;
}

.button {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--main-lighter);
  justify-items: center;
  align-items: center;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.05));
}

#logo {
  filter: var(--main-shadow);
  padding: calc((7/400)*var(--header-size)) calc((25 / 1770) * (100vh - 1.3vh * 2));
  height: calc(89/400*var(--header-size));
}


.button:hover {
  cursor: pointer;

  animation: button-hover 500ms ease forwards;
  /* background-color: var(--main-hover); */
}


@keyframes button-hover {
  from {}

  to {
    filter: drop-shadow(0px 0px 1vh rgba(0, 0, 0, 0.3)) brightness(120%);
  }
}


@media (orientation: landscape) and (min-width: 2000px) {
  :root {
    --header-font-size: calc(20 / 320 * var(--header-size));
  }
}