{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"> -->
  <meta content='yes' name='apple-mobile-web-app-capable' />
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script type="text/javascript" src="{% static 'js/buttons.js' %}"></script>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    {% block header %} {% endblock %}
  </header>

  {% block body %} {% endblock %}

  <footer>
    {% block footer %} {% endblock %}
  </footer>

</body>

</html>